<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.huai.assist.repository.SystemInfoMapper">

    <insert id="save" parameterType="com.huai.assist.pojo.SystemInfo">
        INSERT INTO systemInfo (createTime, topInfo) value(#{createTime}, #{topInfo});
    </insert>

    <!--the flag is for hour, minute:2, second:3-->
    <select id="search" resultType="com.huai.assist.pojo.SystemInfo">
        SELECT * FROM systemInfo
        <where>
            UNIX_TIMESTAMP(createTime) BETWEEN UNIX_TIMESTAMP(#{condition.timeStr}) AND
            <choose>

                <when test="flag == 2">
                    (UNIX_TIMESTAMP(#{condition.timeStr})+3599)
                </when>

                <when test="flag == 3">
                    (UNIX_TIMESTAMP(#{condition.timeStr})+59)
                </when>

                <otherwise>
                    (UNIX_TIMESTAMP(#{condition.timeStr})+86399)
                </otherwise>
            </choose>
            <if test="condition.page != null and condition.page.start >= 0 and condition.page.pageSize > 0">
                LIMIT #{condition.page.start} , #{condition.page.pageSize}
            </if>
        </where>
    </select>

    <!--the flag is for hour, minute:2, second:3-->
    <select id="count" resultType="java.lang.Integer">
        SELECT COUNT(1) FROM systemInfo
        <where>
            UNIX_TIMESTAMP(createTime) BETWEEN UNIX_TIMESTAMP(#{condition.timeStr}) AND
            <choose>

                <when test="flag == 2">
                    (UNIX_TIMESTAMP(#{condition.timeStr})+3599)
                </when>

                <when test="flag == 3">
                    (UNIX_TIMESTAMP(#{condition.timeStr})+59)
                </when>

                <otherwise>
                    (UNIX_TIMESTAMP(#{condition.timeStr})+86399)
                </otherwise>
            </choose>
        </where>
    </select>

</mapper>